.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3rem;

  padding: 0px 3rem;

  height: 6.5rem;
}

.header_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  height: inherit;
}

.header_login_cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;

  width: 100%;
  height: inherit;
}

.header_login_cart svg {
  width: 3rem;
  height: inherit;
}

.header img {
  max-width: 100px;
  height: inherit;
}

.header h2 {
  font-size: 25px;
  font-weight: bold;

  letter-spacing: 1px;

  color: rgb(0, 50, 112);
}
